.App {
  text-align: center;
  
}


html{

  --primary: #222222;
  --secondary: #bcbcbc;
  --white: #ffffff;
  --gray: #717172;
  --light-blue: #ccdbf3;
  --blue: rgb(60, 108, 240);
  --red:  #f0dcdc;
  
}



.body_container{
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}