.App {
  text-align: center;
}

html{

  --primary: #222222;
  --secondary: #bcbcbc;
  --white: #ffffff;
  --gray: #dae6f5;
  --light-blue: #ccdbf3;
  --blue: rgb(60, 108, 240);
  --red:  #f0dcdc;
  
}



.navbar_container{
  height: 20%;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  overflow-x: hidden;
}

.body_container{
  height: 100%;
  width: 100%;
  background-color: var(--white);
  font-family: cursive;
  overflow-x: hidden;
}